<h4>キープしたサイコロの目</h4>
<% keep_dices.each_with_index do |num, index| %>
  <%= button_to "#{num}", move_to_table_path, method: :get, params: move_btn_params(game, keep_dices, table_dices, index) %>
<% end %>
<h4>現在のサイコロの目</h4>
<% table_dices.each_with_index do |num, index| %>
  <%= button_to "#{num}", move_to_keep_path, method: :get, params: move_btn_params(game, table_dices, keep_dices, index) %>
<% end %>
<% if @table_dices.size > 0 %>
  <%= button_to "サイコロを振る", roll_dices_path, method: :get, params: roll_dices_params(game, table_dices, keep_dices) %>
<% end %>
