<table class="table table-hover table-responsive">
  <tbody>
    <% categories_and_results.each do |category, result| %>
      <tr>
        <th scope="row"><%= category %></th>
        <% if result %>
          <td colspan="2"><%= result %></td>
        <% elsif calculated_scores[category] %>
          <td colspan="2">
            <%= button_to calculated_scores[category],
              select_category_path,
              method: :patch,
              params: select_category_params(game, category, calculated_scores[category])
            %>
          </td>
        <% else %>
          <td colspan="2">0</td>
        <% end %>
      </tr>
    <% end %>
   </tbody>
</table>
