<table class="table table-hover table-responsive">
  <tbody>
    <tr>
      <th></th>
      <% session[:player_num].times do |num| %>
        <td>プレイヤー<%= num + 1 %></td>
      <% end %>
    </tr>
    <% Game::CATEGORIES.each do |category| %>
      <tr>
        <th><%= t "results.#{category}" %></th>
        <% @categories_and_results.each_with_index do |item, game_index| %>
          <% if item["#{category}"] %>
            <td class="result"><%= item["#{category}"] %></td>
          <% elsif calculated_scores[category] %>
            <td>
              <%= link_to calculated_scores[category],
                select_category_path(select_category_params(game_index, category)),
                data: { "turbo-method": :patch },
                class: "calculated_scores"
              %>
            </td>
          <% else %>
            <td>0</td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
   </tbody>
</table>
