<main id="main">
  <section class="align-items-center">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-6 col-12">
          <h1>Result</h1>
          <table class="table table-hover table-responsive">
            <tbody>
              <tr>
                <th scope="row">ワン</th>
                <td colspan="2">0</td>
              </tr>
              <tr>
                <th scope="row">ツー</th>
                <td colspan="2">0</td>
              </tr>
              <tr>
                <th scope="row">スリー</th>
                <td colspan="2">0</td>
              </tr>
              <tr>
                <th scope="row">フォー</th>
                <td colspan="2">0</td>
              </tr>
              <tr>
                <th scope="row">ファイブ</th>
                <td colspan="2">0</td>
              </tr>
              <tr>
                <th scope="row">シックス</th>
                <td colspan="2">0</td>
              </tr>
              <tr>
                <th scope="row">ボーナス</th>
                <td colspan="2">0</td>
              </tr>
              <tr>
                <th scope="row">チョイス</th>
                <td colspan="2">0</td>
              </tr>
              <tr>
                <th scope="row">フォーダイス</th>
                <td colspan="2">0</td>
              </tr>
              <tr>
                <th scope="row">フルハウス</th>
                <td colspan="2">0</td>
              </tr>
              <tr>
                <th scope="row">S・ストレート</th>
                <td colspan="2">0</td>
              </tr>
              <tr>
                <th scope="row">B・ストレート</th>
                <td colspan="2">0</td>
              </tr>
              <tr>
                <th scope="row">ヨット</th>
                <td colspan="2">0</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6 col-12">

          <%= render "dices" %>

        </div>
      </div>
    </div>
  </section>
</main>
