td a {
  color: gray;
  display: block;
}

.result {
  font-weight: bold;
}

.dice-container {
  min-height: 150px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}

.rolling {
  animation: rotate 1s infinite;
}

.select-box {
  appearance: none;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  border: none;
  transition: 0.5s;
  margin: 10px 0;
  color: #fff;
  background: #34b7a7;
}
