<%= turbo_frame_tag current_user do %>
  <div class="text-center">
    <%= image_tag current_user.icon.variant(:display), class: "icon", alt: "アイコン" %>
  </div>
  <div class="row justify-content-center">
    <ul class="text-center">
      <li><i class="bi bi-rounded-right"></i> <strong>アカウント名:</strong><%= current_user.username %></li>
      <li><i class="bi bi-rounded-right"></i> <strong>プレイ回数:</strong> 123 </li>
      <li><i class="bi bi-rounded-right"></i> <strong>ハイスコア:</strong> 123</li>
    </ul>
    <%= link_to "プロフィール編集", edit_profile_path(current_user), class: "col-10 col-lg-6 text-center" %>
  </div>
<% end %>
